# `List of List Again:`

# <font color=red>Mr Fugu Data Science</font>

# (◕‿◕✿)

# Purpose & Outcome:

+ Use List comprehensions, looping and numpy arrays
+ Show examples of lists of list with uneven sizes and how to parse
    + Flatten
    + Delete, reomve, pop
    + Insert

**Hit me up @ Buymeacoffee:** @mrfugudatasci
https://www.buymeacoffee.com/mrfugudatasci

In [1]:
import pandas as pd
import time

# Lists:
+ Are Mutable:
+ Can have duplicates
+ Ordered

In [2]:
# Uneven size:
A=[[1,2,3,4],[5,6,7],[8,9],[10]]

#Strings: Name_address
B=[['John','Jane','Ali','Depesh','Jose','Klein'],
['100 E. Pearlman st','1000 Joshua tree ln','598 Coach pkwy',
'1800 Boston ct','12 Hillside wy','9022 E. Buckington ct']]

# Mixed types:
C=[[1,'Yay',2,'Nope',{'Bilbao':'Spain'}],['Connor',('a',4)],[],['Barney',123,(3,88)]]

# Name, profession and age as tuple
D=[['Paul','Oakenfold','Musician'],['Armin', 'Van Buuren','Musician'],
   ['keanu', 'Reeve','Actor'],('age',57),
   ('age',43),('age',56)]

In [3]:
# Look at our error:
# for i in A:
#     print(i[3])

In [13]:
# Lets get any element of each list in (A) by idx position:

def fcn_take_idx(your_list,idx):
    new_list=[]
    for i in range(len(your_list)):
        try: 
            new_list.append(your_list[i][idx])
            
        except:
            new_list.append('None')
    return new_list

fcn_take_idx(A,3)

[4, 'None', 'None', 'None']

In [14]:
%%timeit
fcn_take_idx(A,3)

1.91 µs ± 31.3 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

# `Flatten:`

In [15]:
# EX.1)  unnest (A) with list comprhension:

[y for x in A for y in x]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
%%timeit
[y for x in A for y in x]

760 ns ± 35.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [17]:
%%timeit
# Ex. 2) Unnest with loop:

flat_loop=[]
for i in A:
    for j in i:
        flat_loop.append(j)
flat_loop

1.17 µs ± 24.3 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [21]:
# Ex. 3) flatten with Itertools

import itertools

list(itertools.chain(*A))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
%%timeit
# cut and paste command from above
list(itertools.chain(*A))

628 ns ± 10.3 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

# `Unpack: by index value:`

In [23]:
# Unpack by specific index positions:

A_=[[1,2,3,4],[5,6,7],[8,9],[10]]

[*A_[0],*A_[1]]

[1, 2, 3, 4, 5, 6, 7]

In [24]:
%%timeit
# Use extend to flatten lists:
alt_flat=[]
for i in A_:
    alt_flat.extend(i)
alt_flat

462 ns ± 35.8 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [26]:
# cut and paste from above
alt_flat=[]
for i in A_:
    alt_flat.extend(i)
alt_flat

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Take only lists of len >2:

In [ ]:
[ y for x in A if len(x) > 2 for y in [x] ]

# if you do not surround the [x], you will get a flat list!

# `Convert Nested Lists of List into: tuple lists:` (Name and address)

In [ ]:
print('Original Data:\n',B)
print('----------------------')
print('Zipped list:\n',list(zip(B[0],B[1])))

In [ ]:
# Example where we have lists of list and tuples corresponding to a persons information
# But, this is not what we exactly want. Need to rethink...
names=[]
ages_=[]

for i in D:
    if type(i)==list:
        names.append(i)
    else:
        ages_.append(i[1])
    w=list(zip(names,ages_))
    
w

In [30]:
names=[]
ages_=[]
ppl=['first_name','last_name','occupation']

for i in D:
    if type(i)==list:
        kk=dict(zip(ppl,i))
        names.append(kk)
    else:
        ages_.append([i[1]])


cc=pd.DataFrame(names)
dd=pd.DataFrame(ages_,columns=['age'])
pd.concat([cc,dd],axis=1)

  first_name   last_name occupation  age
0       Paul   Oakenfold   Musician   57
1      Armin  Van Buuren   Musician   43
2      keanu       Reeve      Actor   56

In [29]:
%%timeit
names=[]
ages_=[]
ppl=['first_name','last_name','occupation']

for i in D:
    if type(i)==list:
        kk=dict(zip(ppl,i))
        names.append(kk)
    else:
        ages_.append([i[1]])


cc=pd.DataFrame(names)
dd=pd.DataFrame(ages_,columns=['age'])
pd.concat([cc,dd],axis=1)

1.75 ms ± 96.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
# Ok we are part of the way, we need to still iterate more 
ppl_=['first','last','occ']
mm=[ dict(zip(ppl_,x)) if type(x) ==list else x for x in D]
mm

In [ ]:


ppl=['first','second','occ']
mm=[ dict(zip(ppl,x)) if type(x) ==list else x for x in D]

nms=[] # names
b=[] # ages

for j in mm:
    if type(j)==dict:
        nms.append(j)
    else:
        b.append({j[0]:j[1]})

        
nms_=pd.DataFrame(nms)
ag_=pd.DataFrame(b)
pd.concat([nms_,ag_],axis=1)

In [ ]:
%%timeit

ppl=['first','second','occ']
mm=[ dict(zip(ppl,x)) if type(x) ==list else x for x in D]

nms=[] # names
b=[] # ages

for j in mm:
    if type(j)==dict:
        nms.append(j)
    else:
        b.append({j[0]:j[1]})

        
nms_=pd.DataFrame(nms)
ag_=pd.DataFrame(b)
pd.concat([nms_,ag_],axis=1)

# `Let's play around with (C):`

+ 1.) lets order all the lists of list by data type
+ 2.) take out a specific datatype

In [ ]:
print(C)
for i in C:
    print('--------',type(i),'length of each sublist:',len(i))

In [ ]:
# Only take the strings from each list and their idx position
only_str=[]
for i in range(len(C)):
    for j in C[i]:
        if type(j)==str:
            only_str.append([i,j])
only_str

# `Adding Element to list at specific index:`

In [ ]:
# you are adding to the end of list 3
print('Original: ',A)

A[3].append(11)
print('updated: ',A)

# `Update a value for nested list:`

In [ ]:
# Changing the list to that value:
E=[[0,1,2],[4,4,8],[6,11,20,9],[3,7],[1]]
print('Original:',E)

E[0]=[2]
print('Updated:',E)

# `Insert into list at specific point:`

In [ ]:
print('Original:',E)
E[3].insert(1,'yay')
print('Insert at list 4, index 1:',E)

# `Merge one list into another:`

In [ ]:
print('Original',only_str)
print('----------------')
only_str[3].extend(['My','New','List'])

print('Merge New List at index 3:',only_str)

# `Remove Items from Nested List:`

In [ ]:
print('Original',only_str)
print('-------------')
v=only_str[1].pop()

In [ ]:
# This is stored and wont harm it now
print('Returning what we are discarding only:',v)
only_str

# `Pay attnetion: If we continue to run pop()`

In [ ]:
print('Original:',C)
print('---------')

pop_=C[0].pop()

In [ ]:
print('pop_ done once:',pop_)
print('-------------')
print('pop_,done twice:',C[0].pop())
print('-------------')
print('pop three times:',C[0].pop())
print('-----------')
print('pop 4 times:',C[0].pop())

# `Return Everything Except deleted:`

In [ ]:
L=[['harp','guitar','drums'],['chicken','dog','frog'],'wow',['blues cheese'],2]

del L[1][1]

L

# `Remove from a location you are unsure about:`

In [ ]:
L[1].remove('chicken')
L

# `Using a tool from Itertools called (cycle):`

+ If you have uneven nested lists, you can use this to wrap around values the smaller list

In [ ]:
from itertools import cycle

lst_sht = ['Jose', 'Shawn', 'Margot','Jeanie']
lst_longer_len = [ 10, 49, 5, 119, 8 ]
merged2 = zip(cycle(lst_sht), lst_longer_len)
print(list(merged2))

# <font color=red>Like</font>, Share & 

# <font color=red>SUB</font>scribe

# ◔̯◔

# `If You Liked, consider buying me a coffee` 
@mrfugudatasci https://www.buymeacoffee.com/mrfugudatasci