# `Date-Time Python Examples`

# <font color=red>Mr Fugu Data Science</font>

# (◕‿◕✿)

In [3]:
import pandas as pd # dataframe stuff
import json # 
from collections import defaultdict # dictionary where values are a list
import numpy as np # formatting data with Nan
from datetime import date
import datetime

# `Time Stamp Example with incorrect formatting:`

In [ ]:
# Full Data
df=pd.read_csv('date_time_ex.csv',)
# dte_tme_df
df.head()

In [16]:
# Creating proper format for dates
dd=df.div(1000, axis=0)

# Doing this across all date columns
pp=dd.apply(pd.to_datetime, errors='coerce',utc=True,unit='s')

# If you need date with time unblock the , %H:%M:%S")) portion of code and it will work BUT, CHANGE SCHEMA 
# to DATETIME instead of DATE!
pp_new=pp.apply(lambda x: x.dt.strftime("%Y-%m-%d"))
pp_new.head()

,createDate_date,dateScanned_date,finishedDate_date,modifyDate_date,pointsAwardedDate_date,purchaseDate_date
0,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03
1,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-02
2,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-02
3,2021-01-03,2021-01-03,NaN,2021-01-03,NaN,2021-01-03
4,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03

In [17]:
pp.apply(lambda x: x.dt.strftime("%Y-%m-%d, %H:%M:%S"))

,createDate_date,dateScanned_date,finishedDate_date,modifyDate_date,pointsAwardedDate_date,purchaseDate_date
0,"2021-01-03, 15:25:31","2021-01-03, 15:25:31","2021-01-03, 15:25:31","2021-01-03, 15:25:36","2021-01-03, 15:25:31","2021-01-03, 00:00:00"
1,"2021-01-03, 15:24:43","2021-01-03, 15:24:43","2021-01-03, 15:24:43","2021-01-03, 15:24:48","2021-01-03, 15:24:43","2021-01-02, 15:24:43"
2,"2021-01-03, 15:24:43","2021-01-03, 15:24:43","2021-01-03, 15:24:43","2021-01-03, 15:24:48","2021-01-03, 15:24:43","2021-01-02, 15:24:43"
3,"2021-01-03, 15:25:37","2021-01-03, 15:25:37",NaN,"2021-01-03, 15:25:42",NaN,"2021-01-03, 00:00:00"
4,"2021-01-03, 15:25:34","2021-01-03, 15:25:34","2021-01-03, 15:25:34","2021-01-03, 15:25:39","2021-01-03, 15:25:34","2021-01-03, 00:00:00"
...,...,...,...,...,...,...
7376,"2021-03-01, 15:42:41","2021-03-01, 15:42:41",NaN,"2021-03-01, 15:42:41",NaN,NaN
7377,"2021-03-01, 14:07:37","2021-03-01, 14:07:37",NaN,"2021-03-01, 14:07:37",NaN,NaN
7378,"2021-03-01, 13:07:28","2021-03-01, 13:07:28",NaN,"2021-03-01, 13:07:29",NaN,"2020-08-17, 00:00:00"
7379,"2021-03-01, 13:07:28","2021-03-01, 13:07:28",NaN,"2021-03-01, 13:07:29",NaN,"2020-08-17, 00:00:00"
7380,"2021-03-01, 02:22:34","2021-03-01, 02:22:34",NaN,"2021-03-01, 02:22:34",NaN,NaN

# Like, Share & <font color=red>SUB</font>scribe

# `Citations & Help`

# ◔̯◔

https://sparkbyexamples.com/pandas/pandas-convert-datetime-to-string-format/#:~:text=By%20default%20pandas%20datetime%20format,Y%2D%25m%2D%25d%20

https://stackoverflow.com/questions/62704671/how-to-convert-a-unix-timestamp-of-a-pandas-dataframe-column-with-nan-values-to

https://www.programiz.com/python-programming/datetime/strftime

https://sparkbyexamples.com/pandas/pandas-convert-multiple-columns-to-datetime-type/

https://towardsdatascience.com/mastering-dates-and-timestamps-in-pandas-and-python-in-general-5b8c6edcc50c