# `Date-Time Python Examples`

# <font color=red>Mr Fugu Data Science</font>

# (◕‿◕✿)

# `Outcome:` *examples of various date-time formats to use*

`1.) Timestamp
2.) String Dates
3.) Extracting information from date-time`

In [1]:
import pandas as pd # dataframe stuff
from collections import defaultdict # dictionary where values are a list
from datetime import date
import datetime

# Section 1: <font color=red>Timestamp</font>

`--------------------------------`

# `Ex.1) Time Stamp Example with incorrect formatting`

`actual example I encountered and wanted to expand on this for the video`

In [2]:
# Full Dataset
df_time_Stamp=pd.read_csv('date_time_ex.csv',)

df_time_Stamp.head()

,createDate_date,dateScanned_date,finishedDate_date,modifyDate_date,pointsAwardedDate_date,purchaseDate_date
0,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
3,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
4,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12

In [3]:
# Creating proper format for dates
format_df_tmstp=df_time_Stamp.div(1000, axis=0)

# Doing this across all date columns
df_chng_dts=format_df_tmstp.apply(pd.to_datetime, errors='coerce',utc=True,unit='s')

# If you need date with time unblock the , %H:%M:%S")) 
df_chng_dts_new=df_chng_dts.apply(lambda x: x.dt.strftime("%Y-%m-%d"))
df_chng_dts_new.head()

,createDate_date,dateScanned_date,finishedDate_date,modifyDate_date,pointsAwardedDate_date,purchaseDate_date
0,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03
1,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-02
2,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-02
3,2021-01-03,2021-01-03,NaN,2021-01-03,NaN,2021-01-03
4,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03

In [4]:
# strftime: returns a sting representation of date-time
df_chng_dts.apply(lambda x: x.dt.strftime("%Y-%m-%d, %H:%M:%S"))

,createDate_date,dateScanned_date,finishedDate_date,modifyDate_date,pointsAwardedDate_date,purchaseDate_date
0,"2021-01-03, 15:25:31","2021-01-03, 15:25:31","2021-01-03, 15:25:31","2021-01-03, 15:25:36","2021-01-03, 15:25:31","2021-01-03, 00:00:00"
1,"2021-01-03, 15:24:43","2021-01-03, 15:24:43","2021-01-03, 15:24:43","2021-01-03, 15:24:48","2021-01-03, 15:24:43","2021-01-02, 15:24:43"
2,"2021-01-03, 15:24:43","2021-01-03, 15:24:43","2021-01-03, 15:24:43","2021-01-03, 15:24:48","2021-01-03, 15:24:43","2021-01-02, 15:24:43"
3,"2021-01-03, 15:25:37","2021-01-03, 15:25:37",NaN,"2021-01-03, 15:25:42",NaN,"2021-01-03, 00:00:00"
4,"2021-01-03, 15:25:34","2021-01-03, 15:25:34","2021-01-03, 15:25:34","2021-01-03, 15:25:39","2021-01-03, 15:25:34","2021-01-03, 00:00:00"
...,...,...,...,...,...,...
7376,"2021-03-01, 15:42:41","2021-03-01, 15:42:41",NaN,"2021-03-01, 15:42:41",NaN,NaN
7377,"2021-03-01, 14:07:37","2021-03-01, 14:07:37",NaN,"2021-03-01, 14:07:37",NaN,NaN
7378,"2021-03-01, 13:07:28","2021-03-01, 13:07:28",NaN,"2021-03-01, 13:07:29",NaN,"2020-08-17, 00:00:00"
7379,"2021-03-01, 13:07:28","2021-03-01, 13:07:28",NaN,"2021-03-01, 13:07:29",NaN,"2020-08-17, 00:00:00"
7380,"2021-03-01, 02:22:34","2021-03-01, 02:22:34",NaN,"2021-03-01, 02:22:34",NaN,NaN

# `Ex 1A) Alternate Example of Timestamp`

In [5]:
# Another Timestamp Example:

from datetime import datetime
import time

# Current Date-Time as timestamp
ts = time.time()
# Convert timestamp to a date-time
date_time = datetime.fromtimestamp(ts)

print("Date Time Obj:", date_time)
print('---------------')

d = date_time.strftime("%m/%d/%Y, %H:%M:%S")
print("Ex 2)", d)

d = date_time.strftime("%d %b, %Y")
print("Ex 3)", d)

d = date_time.strftime("%d %B, %Y")
print("Ex 4)", d)

d = date_time.strftime("%I%p")
print("Ex 5)", d)

Date Time Obj: 2022-08-06 18:20:19.236162
---------------
Ex 2) 08/06/2022, 18:20:19
Ex 3) 06 Aug, 2022
Ex 4) 06 August, 2022
Ex 5) 06PM

# Section 2: <font color=red>String Date-Time</font>

`--------------------------------`


# `Ex.2 ) Four ways to achieve same thing!`

`adapted from online, in citations`

In [6]:
# the empty string is important, for some functions and DB operations!
df_ = pd.DataFrame({'date': ['2022-08-02 19:10:00','2022-08-06 07:06:44','']})
df_

                  date
0  2022-08-02 19:10:00
1  2022-08-06 07:06:44
2

In [7]:
# parse date-time strings
from dateutil.parser import parse

df_1 = pd.DataFrame({'date': ['2022-08-02 19:10:00','2022-08-06 07:06:44','']})
df_1
# 1
# df_['date'] = pd.to_datetime(df_['date'])
# df_

# 2
# df_['date'] = df_['date'].astype('datetime64[ns]')
# df_

# 3
# The above code if you have an empty string it gives error!
df_1['date'] = df_1['date'].apply(lambda x: parse(x) if x else None)

# 4
# df_['date'] = df_['date'].apply(lambda x: pd.Timestamp(x))
df_1
# df_.dtypes

                 date
0 2022-08-02 19:10:00
1 2022-08-06 07:06:44
2                 NaT

# `Ex.3) Covert Date Time string timestamp `

In [8]:
import datetime
  
string_dt = "2022-08-06 05:36"

# strptime() converts date-time object to string
dt_str_strp = datetime.datetime.strptime(string_dt,"%Y-%m-%d %H:%M")

# Convert to timestamp
timestamp = datetime.datetime.timestamp(dt_str_strp)

print(timestamp)

1659785760.0

# Section 3: <font color=red>Manipulate Dates</font>

`--------------------------------`


# `Ex.4) Get Day of Week or Month Name from Date`

+ `apply:` is used as a function across a dataframe either by one column or many
+ `lambda:` can be thought of as an annonymous function we use to run our dataframe manipulations here

In [9]:
import datetime

df_chng_dts_new['weekday_Created_Date']=pd.to_datetime(df_chng_dts_new['createDate_date']).apply(lambda x: x.weekday())

df_chng_dts_new['weekday_name_Created_date']=pd.to_datetime(df_chng_dts_new['createDate_date']).apply(lambda x: x.day_name())
df_chng_dts_new

,createDate_date,dateScanned_date,finishedDate_date,modifyDate_date,pointsAwardedDate_date,purchaseDate_date,weekday_Created_Date,weekday_name_Created_date
0,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,6,Sunday
1,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-02,6,Sunday
2,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-02,6,Sunday
3,2021-01-03,2021-01-03,NaN,2021-01-03,NaN,2021-01-03,6,Sunday
4,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,2021-01-03,6,Sunday
...,...,...,...,...,...,...,...,...
7376,2021-03-01,2021-03-01,NaN,2021-03-01,NaN,NaN,0,Monday
7377,2021-03-01,2021-03-01,NaN,2021-03-01,NaN,NaN,0,Monday
7378,2021-03-01,2021-03-01,NaN,2021-03-01,NaN,2020-08-17,0,Monday
7379,2021-03-01,2021-03-01,NaN,2021-03-01,NaN,2020-08-17,0,Monday
7380,2021-03-01,2021-03-01,NaN,2021-03-01,NaN,NaN,0,Monday

# `Ex.5) Working with time zones` 

`python -m pip install python-dateutil`

*Features: think of time deltas expanded*
+ find next month, next week, next Monday for example
+ parsing string date formats
+ (tzinfo) for timezones
+ up to date timezone info from Olson's DB
just a few items to feature

In [10]:
from dateutil import tz # extension to datetime
from datetime import datetime

now = datetime.now(tz=tz.tzlocal())
str(now).split(' ')

['2022-08-06', '18:20:19.533159-06:00']

# `Parsing Various Date-Time Strings:`

+ `from dateutil import parser`

In [21]:
# Modified from Online resource: 

from dateutil import parser

a = 'Saturday Aug 06 16:36:20 2022'
print(parser.parse(a))

b = 'Sun, 03. July 2022 08:06AM'
print(parser.parse(b))

c = '7 / 4 / 2021 1:36:18'
print(parser.parse(c))

d = '5 / 5 / 2005'
print(parser.parse(d))

e = '2008-07-19T08:06:08Z'
print(parser.parse(e))

# What if we have a 2 digit year 2013?
print(parser.parse('13-7-15', yearfirst = True))

2022-08-06 16:36:20
2022-07-03 08:06:00
2021-07-04 01:36:18
2005-05-05 00:00:00
2008-07-19 08:06:08+00:00
2013-07-15 00:00:00

# `Ex.6) Find Day of Week within a given period of time`

+ `pd.date_range()`

In [12]:
days_in_rng = pd.date_range(start='2022-08-04', freq='D', periods=3)

days_in_rng.day_name()

Index(['Thursday', 'Friday', 'Saturday'], dtype='object')

In [13]:
# Date Range and print day names or day of week
dt_rng_days=pd.date_range('2016-12-31', '2017-01-08', freq='D').to_series()

# Day represented as numeric
dt_rng_days.dt.dayofweek

# name of day
dt_rng_days.dt.day_name()

2016-12-31     Saturday
2017-01-01       Sunday
2017-01-02       Monday
2017-01-03      Tuesday
2017-01-04    Wednesday
2017-01-05     Thursday
2017-01-06       Friday
2017-01-07     Saturday
2017-01-08       Sunday
Freq: D, dtype: object

In [22]:
# frequency, can be whatever you like: day, hour, second...

date_range=pd.date_range(pd.Timestamp("2018-03-10 09:00"),
                    periods=3, freq='s')

date_range.strftime('%B %d, %Y, %r')

#you can subest these to format or do what you want also!

# date_range.strftime('%a %d, %Y, %r')

Index(['March 10, 2018, 09:00:00 AM', 'March 10, 2018, 09:00:01 AM',
       'March 10, 2018, 09:00:02 AM'],
      dtype='object')

In [26]:
from datetime import timedelta


# Current time
now = datetime.now()

# Timedelta of 20 days, 4 hours, and 5 minutes
specific_timedelta = timedelta(days=20, hours=4, minutes=5)

str(now+specific_timedelta).split()

['2022-09-02', '22:24:46.689695']

# `Representations for our date info:`

+ `%a` abbreviated day of week name
+ `%w` numeric value for day
+ `%A` day of week name
+ `%d` day of month as numeric
+ `%B` month name
+ `%b` abbreviated month name
+ `%I` 12 hr clock
there are more so check online

# Like, Share & <font color=red>SUB</font>scribe

# `Citations & Help`

# ◔̯◔

https://sparkbyexamples.com/pandas/pandas-convert-datetime-to-string-format/#:~:text=By%20default%20pandas%20datetime%20format,Y%2D%25m%2D%25d%20

https://stackoverflow.com/questions/62704671/how-to-convert-a-unix-timestamp-of-a-pandas-dataframe-column-with-nan-values-to

https://www.programiz.com/python-programming/datetime/strftime

https://sparkbyexamples.com/pandas/pandas-convert-multiple-columns-to-datetime-type/

https://towardsdatascience.com/mastering-dates-and-timestamps-in-pandas-and-python-in-general-5b8c6edcc50c

https://realpython.com/python-datetime/

https://stackoverflow.com/questions/28009370/get-weekday-day-of-week-for-datetime-column-of-dataframe

https://www.educba.com/python-dateutil/

https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.strftime.html

https://www.dataquest.io/blog/python-datetime/

https://stackoverflow.com/questions/22847304/exception-handling-in-pandas-apply-function

https://www.geeksforgeeks.org/nlp-using-dateutil-to-parse-dates/