# `List of List Again:`

# <font color=red>Mr Fugu Data Science</font>

# (◕‿◕✿)

# Purpose & Outcome:

+ Use List comprehensions, looping and numpy arrays
+ Show examples of lists of list with uneven sizes and how to parse
    + Flatten
    + Delete, reomve, pop
    + Insert

**Hit me up @ Buymeacoffee:** @mrfugudatasci
https://www.buymeacoffee.com/mrfugudatasci

In [2]:
import pandas as pd
import time

# Lists:
+ Are Mutable:
+ Can have duplicates
+ Ordered

In [690]:
# Uneven size:
A=[[1,2,3,4],[5,6,7],[8,9],[10]]

#Strings: Name_address
B=[['John','Jane','Ali','Depesh','Jose','Klein'],
['100 E. Pearlman st','1000 Joshua tree ln','598 Coach pkwy',
'1800 Boston ct','12 Hillside wy','9022 E. Buckington ct']]

# Mixed types:
C=[[1,'Yay',2,'Nope',{'Bilbao':'Spain'}],['Connor',('a',4)],[],['Barney',123,(3,88)]]

# Name, profession and age as tuple
D=[['Paul','Oakenfold','Musician'],['Armin', 'Van Buuren','Musician'],
   ['keanu', 'Reeve','Actor'],('age',57),
   ('age',43),('age',56)]

In [718]:
# Look at our error:
for i in A:
    print(i[3])

4

IndexError: list index out of range

In [722]:
%%timeit
# Lets get any element of each list in (A) by idx position:

def fcn_take_idx(your_list,idx):
    new_list=[]
    for i in range(len(your_list)):
        try: 
            new_list.append(your_list[i][idx])
            
        except:
            new_list.append('None')
    return new_list

fcn_take_idx(A,3)

2.05 µs ± 34.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [723]:
fcn_take_idx(A,3)

[4, 'None', 'None', 'None']

# `Flatten:`

In [536]:
%%timeit
# EX.1)  unnest (A) with list comprhension:

[y for x in A for y in x]

725 ns ± 20.7 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [707]:
[y for x in A for y in x]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [535]:
%%timeit
# Ex. 2) Unnest with loop:

flat_loop=[]
for i in A:
    for j in i:
        flat_loop.append(j)
flat_loop

1.11 µs ± 21.4 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [724]:
%%timeit
# Ex. 3) flatten with Itertools

import itertools

list(itertools.chain(*A))

726 ns ± 28.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [725]:
# cut and paste command from above
list(itertools.chain(*A))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# `Unpack: by index value:`

In [708]:

A_=[[1,2,3,4],[5,6,7],[8,9],[10]]

[*A_[0],*A_[1]]

[1, 2, 3, 4, 5, 6, 7]

In [726]:
%%timeit
# Use extend to flatten lists:
alt_flat=[]
for i in A_:
    alt_flat.extend(i)
alt_flat

479 ns ± 15.2 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [727]:
# cut and paste from above
alt_flat

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Take only lists of len >2:

In [239]:
[ y for x in A if len(x) > 2 for y in [x] ]

# if you do not surround the [x], you will get a flat list!

[[1, 2, 3, 4], [5, 6, 7]]

# `Convert Nested Lists of List into: tuple lists:` (Name and address)

In [729]:
print('Original Data:\n',B)
print('----------------------')
print('Zipped list:\n',list(zip(B[0],B[1])))

Original Data:
 [['John', 'Jane', 'Ali', 'Depesh', 'Jose', 'Klein'], ['100 E. Pearlman st', '1000 Joshua tree ln', '598 Coach pkwy', '1800 Boston ct', '12 Hillside wy', '9022 E. Buckington ct']]
----------------------
Zipped list:
 [('John', '100 E. Pearlman st'), ('Jane', '1000 Joshua tree ln'), ('Ali', '598 Coach pkwy'), ('Depesh', '1800 Boston ct'), ('Jose', '12 Hillside wy'), ('Klein', '9022 E. Buckington ct')]

In [470]:
# Example where we have lists of list and tuples corresponding to a persons information
# But, this is not what we exactly want. Need to rethink...
names=[]
ages_=[]

for i in D:
    if type(i)==list:
        names.append(i)
    else:
        ages_.append(i[1])
    w=list(zip(names,ages_))
    
w

[(['Paul', 'Oakenfold', 'Musician'], 57),
 (['Armin', 'Van Buuren', 'Musician'], 43),
 (['keanu', 'Reeve', 'Actor'], 56)]

In [730]:
%%timeit

names=[]
ages_=[]
ppl=['first_name','last_name','occupation']

for i in D:
    if type(i)==list:
        kk=dict(zip(ppl,i))
        names.append(kk)
    else:
        ages_.append([i[1]])


cc=pd.DataFrame(names)
dd=pd.DataFrame(ages_,columns=['age'])
pd.concat([cc,dd],axis=1)

1.66 ms ± 28.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [732]:
pd.concat([cc,dd],axis=1)

  first_name   last_name occupation  age
0       Paul   Oakenfold   Musician   57
1      Armin  Van Buuren   Musician   43
2      keanu       Reeve      Actor   56

In [735]:
# Ok we are part of the way, we need to still iterate more 
ppl_=['first','last','occ']
mm=[ dict(zip(ppl_,x)) if type(x) ==list else x for x in D]
mm

[{'first': 'Paul', 'last': 'Oakenfold', 'occ': 'Musician'},
 {'first': 'Armin', 'last': 'Van Buuren', 'occ': 'Musician'},
 {'first': 'keanu', 'last': 'Reeve', 'occ': 'Actor'},
 ('age', 57),
 ('age', 43),
 ('age', 56)]

In [733]:
%%timeit

ppl=['first','second','occ']
mm=[ dict(zip(ppl,x)) if type(x) ==list else x for x in D]

nms=[] # names
b=[] # ages

for j in mm:
    if type(j)==dict:
        nms.append(j)
    else:
        b.append({j[0]:j[1]})

        
nms_=pd.DataFrame(nms)
ag_=pd.DataFrame(b)
pd.concat([nms_,ag_],axis=1)

1.77 ms ± 53.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [538]:
pd.concat([nms_,ag_],axis=1)

   first      second       occ  age
0   Paul   Oakenfold  Musician   57
1  Armin  Van Buuren  Musician   43
2  keanu       Reeve     Actor   56

# `Let's play around with (C):`

+ 1.) lets order all the lists of list by data type
+ 2.) take out a specific datatype

In [550]:
print(C)
for i in C:
    print('--------',type(i),'length of each sublist:',len(i))

[[1, 'Yay', 2, 'Nope', {'Bilbao': 'Spain'}], ['Connor', ('a', 4)], [], ['Barney', 123, (3, 88)]]
-------- <class 'list'> length of each sublist: 5
-------- <class 'list'> length of each sublist: 2
-------- <class 'list'> length of each sublist: 0
-------- <class 'list'> length of each sublist: 3

In [677]:
# Only take the strings from each list and their idx position
only_str=[]
for i in range(len(C)):
    for j in C[i]:
        if type(j)==str:
            only_str.append([i,j])
only_str

[[0, 'Yay'], [0, 'Nope'], [1, 'Connor'], [3, 'Barney']]

# `Adding Element to list at specific index:`

In [673]:
# you are adding to the end of list 3
print('Original: ',A)

A[3].append(11)
print('updated: ',A)

Original:  [[1, 2, 3, 4], [5, 6, 7], [8, 9], [10, 11]]
updated:  [[1, 2, 3, 4], [5, 6, 7], [8, 9], [10, 11, 11]]

# `Update a value for nested list:`

In [737]:
# Changing the list to that value:
E=[[0,1,2],[4,4,8],[6,11,20,9],[3,7],[1]]
print('Original:',E)

E[0]=[2]
print('Updated:',E)

Original: [[0, 1, 2], [4, 4, 8], [6, 11, 20, 9], [3, 7], [1]]
Updated: [[2], [4, 4, 8], [6, 11, 20, 9], [3, 7], [1]]

# `Insert into list at specific point:`

In [611]:
print('Original:',E)
E[3].insert(1,'yay')
print('Insert at list 4, index 1:',E)

Original: [[0, 1, 2], [4, 4, 8], [6, 11, 20, 9], [3, 7], [2]]
Insert at list 4, index 1: [[0, 1, 2], [4, 4, 8], [6, 11, 20, 9], [3, 'yay', 7], [2]]

# `Merge one list into another:`

In [678]:
print('Original',only_str)
print('----------------')
only_str[3].extend(['My','New','List'])

print('Merge New List at index 3:',only_str)

Original [[0, 'Yay'], [0, 'Nope'], [1, 'Connor'], [3, 'Barney']]
----------------
Merge New List at index 3: [[0, 'Yay'], [0, 'Nope'], [1, 'Connor'], [3, 'Barney', 'My', 'New', 'List']]

# `Remove Items from Nested List:`

In [679]:
print('Original',only_str)
print('-------------')
v=only_str[1].pop()

Original [[0, 'Yay'], [0, 'Nope'], [1, 'Connor'], [3, 'Barney', 'My', 'New', 'List']]
-------------

In [680]:
# This is stored and wont harm it now
print('Returning what we are discarding only:',v)
only_str

Returning what we are discarding only: Nope

[[0, 'Yay'], [0], [1, 'Connor'], [3, 'Barney', 'My', 'New', 'List']]

# `Pay attnetion: If we continue to run pop()`

In [691]:
print('Original:',C)
print('---------')

pop_=C[0].pop()

Original: [[1, 'Yay', 2, 'Nope', {'Bilbao': 'Spain'}], ['Connor', ('a', 4)], [], ['Barney', 123, (3, 88)]]
---------

In [692]:
print('pop_ done once:',pop_)
print('-------------')
print('pop_,done twice:',C[0].pop())
print('-------------')
print('pop three times:',C[0].pop())
print('-----------')
print('pop 4 times:',C[0].pop())

pop_ done once: {'Bilbao': 'Spain'}
-------------
pop_,done twice: Nope
-------------
pop three times: 2
-----------
pop 4 times: Yay

# `Return Everything Except deleted:`

In [693]:
L=[['harp','guitar','drums'],['chicken','dog','frog'],'wow',['blues cheese'],2]

del L[1][1]

L

[['harp', 'guitar', 'drums'], ['chicken', 'frog'], 'wow', ['blues cheese'], 2]

# `Remove from a location you are unsure about:`

In [695]:
L[1].remove('chicken')
L

[['harp', 'guitar', 'drums'], ['frog'], 'wow', ['blues cheese'], 2]

# `Using a tool from Itertools called (cycle):`

+ If you have uneven nested lists, you can use this to wrap around values the smaller list

In [714]:
from itertools import cycle

lst_sht = ['Jose', 'Shawn', 'Margot','Jeanie']
lst_longer_len = [ 10, 49, 5, 119, 8 ]
merged2 = zip(cycle(lst_sht), lst_longer_len)
print(list(merged2))

[('Jose', 10), ('Shawn', 49), ('Margot', 5), ('Jeanie', 119), ('Jose', 8)]

# <font color=red>Like</font>, Share & 

# <font color=red>SUB</font>scribe

# ◔̯◔

# `If You Liked, consider buying me a coffee` 
@mrfugudatasci https://www.buymeacoffee.com/mrfugudatasci